:root {
  --body-background-color: #111;
  --body-text-color: #eee;
  --header-text-size: 70px;
  --card-background-color: #222;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  display: flex;
  justify-content: center;
}

.Container {
  border: 1px solid white;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}

.MenuEstatico {
  position: relative;
  min-width: 500px;
  height: 100vh;
  /* position: fixed; */
  border: 1px solid red;
  background-color: var(--body-background-color);
}

.MenuEstatico__Header {
  font-size: var(--header-text-size);
  text-align: center;
}

.MenuEstatico__Conteudo {
  display: flex;
  text-align: justify; 
  font-size: 20px;
  font-weight: 200;
  padding: 35px;
  max-width: 500px;
}

.MenuEstatico__Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid blue;
  display: flex;
  text-align: center;
  font-size: 14px;
}

.ConteudoDinamico {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.ConteudoDinamico__Texto {
  margin: 0px 0px 20px 0px;
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 150px;
  text-align: center;
  background-color: var(--card-background-color);
  min-height: 150px;
}