:root {
  --body-background-color: #111;
  --body-text-color: #eee;
  --header-title-size: 100px;
  --card-background-color: #222;
  --menu-text-size: 20px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  justify-content: center;
}

.Container {
  width: 100%;
  margin: 10px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}

.MenuEstatico {
  position: relative;
  min-width: 500px;
  height: 99vh;
  background-color: var(--body-background-color);
}

.MenuEstatico__Header {
  font-size: var(--header-title-size);
  text-align: center;
}

.MenuEstatico__Conteudo {
  display: flex;
  text-align: justify; 
  font-size: var(--menu-text-size);
  font-weight: 200;
  padding: 35px;
  max-width: 500px;
}

.MenuEstatico__Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
}

.MenuEstatico__Footer span {
  margin: 0px 10px;
}

.ConteudoDinamico {
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.ConteudoDinamico__Card {
  margin: 0px 0px 20px 0px;
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 150px;
  min-height: 150px;
  background-color: var(--card-background-color);
  text-align: center;
}

.clickCursor:hover {
  cursor: pointer;
}