:root {
  --body-background-color: #fcfcfc; /* 111 */
  --body-text-color: #111111; /* eee */
  --body-text-size: 20px;
  --header-title-size: 80px;
  --header-subtitle-size: 40px;
  --header-title-responsive-size: 80px;
  --menu-description-size: 24px;
}
