@media (max-width: 1775px) {
  aside {
    margin: 0 auto;
    max-width: 300px;
  }

  main {
    width: 100%;
  }

  .Container {
    flex-direction: row;
  }

  .Aside__Nome {
    font-size: 40px;
  }

  .Aside__Cargo {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  aside {
    max-width: 100%;
  }

  main {
    margin: 0;
    padding: 0;
    align-items: stretch;
  }

  main .Bloco {
    padding: 0 20px;
    width: auto;
    flex-grow: 1;
  }

  .Container {
    flex-direction: column;
  }

  .Competencias__Lista li {
    margin-left: 20px;
  }
}

