:root {
  --body-background-color: #fcfcfc; /* 111 */
  --body-text-color: #111111; /* eee */
  --body-text-size: 20px;
  --header-title-size: 140px;
  --menu-description-size: 24px;
  --card-background-color: #f1f1f1; /* 222 */
  --card-shadow-color: #cfcfcf;
  --card-border-color: #cccccc;
  --card-text-size: 18px;
  --footer-text-size: 18px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  font-family: 'Nunito', sans-serif;
  font-size: var(--body-text-size);
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

.Container {
  display: flex;
  width: 100%;
  margin: 0 150px;
  max-width: 1800px;
  justify-content: center;
}

.MenuEstatico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 35%;
  padding: 0 30px;
  min-width: 600px;
  height: 100vh;
  background-color: var(--body-background-color);
}

.MenuEstatico__Header {
  font-family: 'Cherish', cursive;
  font-size: var(--header-title-size);
  text-align: center;
}

.MenuEstatico__Hide {
  display: none;
  flex-direction: column;
}

.MenuEstatico__Conteudo {
  text-align: justify; 
  font-size: var(--menu-description-size);
  font-weight: 200;
  margin: 20px 40px;
}

.MenuEstatico__Detalhes {
  padding: 20px;
  text-align: justify;
  font-weight: 300;
}

.MenuEstatico__ArrowContainer {
  display: flex;
  justify-content: center;
}

.MenuEstatico__Arrow {
  height: 20px;
  transform: rotate(0);
}

.MenuEstatico__Arrow:hover {
  cursor: pointer;
}

.MenuEstatico__Footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  bottom: 1px;
  width: 100%;
  justify-content: space-between;
  font-size: var(--footer-text-size);
}

.MenuEstatico__Footer span {
  margin: 0px 10px;
}

.ConteudoDinamico {
  width: 65%;
  padding: 10px 20px 0 20px;
  max-height: 100vh;
  min-width: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.ConteudoDinamico__Card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 0px 20px 0px;
  padding: 20px;
  width: 100%;
  min-width: 450px;
  max-width: 800px;
  font-size: var(--card-text-size);
  background-color: var(--card-background-color);
  text-align: justify;
  box-shadow: 0px 1px 10px var(--card-shadow-color);
}

.ConteudoDinamico__Image {
  width: 70%;
  margin: auto;
}

.clickCursor:hover {
  cursor: pointer;
}

.horizontalLine {
  border-bottom: 1px solid var(--body-text-color);
}

@media (max-width: 1600px) {
  .Container {
    margin: 0;
  }

  .ConteudoDinamico__Card {
    width: 90%;
  }
}

@media (max-width: 1366px) {
  .ConteudoDinamico__Card {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .Container {
    margin: 0px;
    flex-direction: column;
  }

  .MenuEstatico {
    height: auto;
    width: 100%;
    padding: 0;
  }

  .MenuEstatico__Arrow {
    display: block;
  }

  .ConteudoDinamico {
    width: 100%;
    padding: 10px 0 0 0;
  }

  .ConteudoDinamico__Card {
    width: 90%;
  }
}
