body, html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #555;
  color: var(--body-text-color);
  font-family: 'Inter', sans-serif;
  font-size: var(--body-text-size);
}

p {
  margin: 0;
}

.Container {
  position: relative;
  display: flex;
  max-width: 1266px;
  justify-content: center;
  margin: 0 auto;
  flex-grow: 1;
}

aside {
  flex-direction: column;
  padding: 14px 30px;
  background-color: #e6ccc8;
  box-shadow: -1px 0px 25px 1px rgba(0, 0, 0, 0.8);
  max-width: 450px;
}

main {
  padding: 14px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.Aside__Nome {
  font-family: 'Spectral', serif;
  font-size: 60px;
  color: var(--header-title-color);
  text-align: center;
}

.Aside__Cargo {
  font-family: 'Spectral', serif;
  font-size: 28px;
  color: var(--header-title-color);
  text-align: center;
  margin-bottom: 20px;
}

.Aside__Sobre {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
}

.Secao__Titulo {
  font-family: 'Spectral', serif;
  font-size: 24px;
  color: var(--header-title-color);
  text-align: center;
  margin: 18px 0 12px 0;
}

.Aside__LinkContainer {
  display: flex;
  align-content: center;
  margin: 6px 0;
}

.Link__Icon {
  margin: auto 10px auto 0;
  width: 22px;
  height: 22px;
}

.Link__Text {
  font-family: 'Open Sans', sans-serif;
  color: var(--body-text-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  margin: auto 0;
}

.Link__Text :visited {
  color: var(--body-text-color);
  text-decoration: none;
}

.Bloco {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 24px;
  width: 100%;
}

.Marginless {
  margin: 0;
}

.Formacao__Data {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.Formacao__Instituicao {
  font-size: 18px;
  font-weight: 600;
  margin: 6px 0;
}

.Formacao__Curso {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.Experiencia__Titulo {
  margin: 0;
  font-size: 18px;
}

.Experiencia__Data {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
}

.Experiencia__Descricao {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
}

.Competencias__Lista {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.Competencias__Lista li {
  margin: 12px 20px;
}
